<div class="sort-group">
  <a (click)="sort(sortBy, 'desc')" translate>{{sortTitle}}</a>
  <div class="sort-options">
    <a (click)="sort(sortBy, 'desc')" class="sort sort-desc"
      [ngClass]="{'active': sortOption.sortType==='desc' && sortOption.sortBy===sortBy}">
     <svg [cIcon]="icons.cilArrowBottom"></svg>
    </a>
    <a (click)="sort(sortBy, 'asc')" class="sort sort-asc"
      [ngClass]="{'active': sortOption.sortType==='asc' && sortOption.sortBy===sortBy}">
      <svg [cIcon]="icons.cilArrowTop"></svg>
    </a>
  </div>
</div>
