
.row-card {
    
    .top-card {
        max-height: calc(100vh - 200px);
        overflow: auto;
        padding: 30px;
        @media (max-width: 768px) {
            width: 100%;
            padding: 15px;
        }
        .list-card {
            padding: 0;
            margin: 0;
            list-style: none;
            counter-reset: item-counter;
            li {
                border: 1px solid #ddd;
                padding: 10px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                position: relative;
                padding-left: 50px;
                .img-card {
                    width: 80px;
                    padding-left: 10px;
                }
                .txt-card {
                    width: calc(100% - 50px);
                    h3 {
                        font-size: 16px;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        line-height: 20px;
                    }
                    .price-card {
                        color: #E4543C ;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .action-card {
                    margin-left: auto;
                    a {
                        padding: 10px;
                        i {
                            margin: 0;
                            font-size: 15px;
                        }
                    }
                }
                .count-card {
                    position: absolute;
                    top:0;
                    left: 0;
                    padding: 7px;
                    background-color: #eee;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: counter(item-counter);
                        counter-increment: item-counter;
                        font-weight: bold;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        font-weight: bold;
                        text-align: center;
                        border-radius: 50%;
                        background-color: #E4543C ;
                        color: #fff;
                      }
                }
                
            }
        }
    }
    .bottom-card {
        .box-checkout {
            border: 1px solid #ddd;
            box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 500px) {
                display: block;
                text-align: center;
            }
            table {
                width: 100%;
                tr {
                    td {
                        padding: 5px 0;
                        border-bottom: 1px solid #ddd;
                        &:last-child {
                            font-weight: bold;
                            text-align: right;
                            font-size: 17px;
                        }
                    }
                }
            }
            .btn-block {
                width: 200px;
                display: block;
                @media (max-width: 500px) {
                    width: 100%;
                    margin-top: 10px;
                }
            }
            .price-total {
                strong {
                    font-size: 17px;
                }
            }
        }
    }
}