/* Section Wrapper */
.bridge-section {
  padding: 80px 0;
}
.bridge-section{
  background: #FFFFFF;
}

/* Centered container */
.bridge-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Section Title */
.bridge-title {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  color: #092F56;
  margin-bottom: 45px;
}

/* Grid Layout */
.bridge-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

/* Card */
.bridge-card {
  background: #F8F8F6;
  border-radius: 12px;
  padding: 20px 20px;
  text-align: center;
  transition: 0.2s ease;
}

.bridge-card:hover {
  transform: translateY(-4px);
}

/* Icon container */
.icon-box {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 12px;
  background:#FEFEFD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 38px;
  height: 38px;
}

/* Titles */


.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #092F56;
  margin-bottom: 12px;
}

/* Text */
.card-text {
  font-size: 15px;
  line-height: 22px;
  color: #586572;
  margin-bottom: 24px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* Footer buttons row */
.card-footer {
  
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer:hover{
  background-color: #FEFEFD;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
}

.link-primary {
  font-size: 15px;
  font-weight: 600;
  color: #092F56 !important;
  text-decoration: underline;
}

.link-secondary {
  font-size: 15px;
  font-weight: 600;
  color: #E4543C  !important;
}

/* Divider line */
.divider {
  width: 1px;
  height: 14px;
  background: #dcdcdc;
}

/* ---------- RESPONSIVE ---------- */

/* 2 columns (tablets) */
@media (max-width: 992px) {
  .bridge-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column (mobile) */
@media (max-width: 600px) {
  .bridge-grid {
    grid-template-columns: 1fr;
  }

  .bridge-title {
    font-size: 32px;
    line-height: 40px;
  }

  .bridge-card {
    padding: 26px 20px;
  }

  .card-footer {
    flex-direction: column;
    gap: 10px;
  }

  .divider {
    display: none;
  }
}
