<ul class="nav nav-tabs nav-custom mb-4" role="tablist">
  <li
    role="presentation"
    [ngClass]="{'active': tab === 'earning'}"
    (click)="onTabSelect('earning')"
  >
    <a href="javascript:void(0)" translate>Earnings Status</a>
  </li>
  <li
    role="presentation"
    [ngClass]="{'active': tab === 'payout'}"
    (click)="onTabSelect('payout')"
  >
    <a href="javascript:void(0)" translate>Request Manager Account</a>
  </li>
</ul>
<div *ngIf="tab === 'earning'">
  <div class="container">
    <div class="card card-body mb-3">
      <div class="row">
        <div class="col-md-7 chart-container">
          <div
            id="chart-container"
            #containerRef
            *ngIf="!loadingBalance && balance?.total && balance.total > 0"
          >
            <ngx-charts-pie-chart
              (window:resize)="onResize($event)"
              [view]="view"
              [scheme]="colorScheme"
              *ngIf="!loadingBalance && balance?.total!==0"
              [results]="single"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendPosition]="legendPosition"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
              [legendTitle]="''"
              [trimLabels]="false"
              [tooltipText]="formatTooltipText"
            >
            </ngx-charts-pie-chart>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-chart">
            <table class="table tble-responsive">
              <tbody>
                <tr>
                  <td>
                    <strong><span translate>Total Earnings</span></strong>
                  </td>
                  <td class="text-end">
                    <strong> {{balance?.total | appCurrency}} </strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong
                      ><span translate>Commission to the site</span></strong
                    >
                  </td>
                  <td class="text-end">
                    <strong> {{balance?.commission| appCurrency}} </strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong><span translate>Tutor Earnings</span></strong>
                  </td>
                  <td class="text-end">
                    <strong> {{balance?.balance| appCurrency}} </strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <small translate
                      >Earnings will be accumulated after 3 days of the class
                      completion to avoid refunds from students after the class
                      is completed.
                    </small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body" style="padding-bottom: 0">
        <div class="row">
          <div class="col-md-7 input-border mb-3">
            <div class="row">
              <div class="col-md-7">
                <app-date-range
                  (dateChange)="dateChangeEvent($event)"
                ></app-date-range>
              </div>
              <div class="col-md-4">
                <button
                  class="btn btn-dark btn-block"
                  (click)="queryStats()"
                  translate
                >
                  Stats By Date Range
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <a
              class="btn btn-dark me-3 scrollTo"
              id="btn-send-request"
              translate
              (click)="submitRequest()"
              >Send Request</a
            >
            <a
              class="btn btn-default"
              [routerLink]="['/users/payout/account']"
              translate
              >Add a Bank Account</a
            >
          </div>
        </div>
      </div>
      <hr style="margin: 0" />
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <h5 translate>Pending</h5>
            <strong>
              <span translate>Commission:</span> {{stats?.pending?.commission |
              appCurrency}} </strong
            ><br />
            <strong>
              <span translate>Tutor Balance:</span> {{stats?.pending?.balance |
              appCurrency}}
            </strong>
          </div>
          <div class="col-md-6">
            <h5 translate>Approved</h5>
            <strong>
              <span translate>Commission:</span> {{stats?.approved?.commission |
              appCurrency}} </strong
            ><br />
            <strong>
              <span translate>Tutor Balance:</span> {{stats?.approved?.balance |
              appCurrency}}
            </strong>
          </div>
          <div id="date_range_picker" class="date_range_picker">
            <div class="values">
              <div class="value date_at">
                <span class="date_at"></span>
                <input id="date_at" class="date_at" type="hidden" />
              </div>
              <div class="to"></div>
              <div class="value date_to">
                <span class="date_to"></span>
                <input id="date_to" class="date_to" type="hidden" />
              </div>
              <div class="clear"></div>
            </div>
            <div class="calendar">
              <div class="button button-prev"></div>
              <div class="button button-next"></div>
              <div class="container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="data-table pb-5" *ngIf="tab === 'payout'">
  <div class="container">
    <div class="card">
      <div class="table-responsive">
        <table
          id="table_id"
          class="table dataTable no-footer"
          role="grid"
          aria-describedby="table_id_info"
        >
          <thead>
            <tr>
              <th>
                <span (click)="sortBy('createdAt', 'desc')" translate
                  >Date</span
                >
                <app-sort
                  [sortOption]="sortOption"
                  [sortBy]="'createdAt'"
                  (onSort)="onSort($event)"
                ></app-sort>
              </th>
              <th>
                <span (click)="sortBy('total', 'desc')" translate>Amount</span>
                <app-sort
                  [sortOption]="sortOption"
                  [sortBy]="'total'"
                  (onSort)="onSort($event)"
                ></app-sort>
              </th>
              <th>
                <span (click)="sortBy('commission', 'desc')" translate
                  >Commission</span
                >
                <app-sort
                  [sortOption]="sortOption"
                  [sortBy]="'commission'"
                  (onSort)="onSort($event)"
                ></app-sort>
              </th>
              <th>
                <span (click)="sortBy('balance', 'desc')" translate
                  >Tutor Balance</span
                >
                <app-sort
                  [sortOption]="sortOption"
                  [sortBy]="'balance'"
                  (onSort)="onSort($event)"
                ></app-sort>
              </th>
              <th>
                <span (click)="sortBy('status', 'desc')" translate>Status</span>
                <app-sort
                  [sortOption]="sortOption"
                  [sortBy]="'status'"
                  (onSort)="onSort($event)"
                ></app-sort>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                translate
                colspan="9"
                *ngIf="!items?.length && !loading"
                translate
              >
                There is no payment requests.
              </td>
            </tr>
            <tr *ngIf="loading">
              <td translate colspan="9"><span translate>Loading</span>...</td>
            </tr>
            <tr *ngFor="let item of items, let i = index">
              <td>{{item?.requestToTime | date}}</td>
              <td>{{item?.total | appCurrency}}</td>
              <td>{{item?.commission | appCurrency}}</td>
              <td>{{item?.balance | appCurrency}}</td>
              <td><app-status [status]="item.status"></app-status></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bottom-table">
        <div></div>
        <div class="pagination-table" id="table_id_paginate">
          <ngb-pagination
            [collectionSize]="total"
            [(page)]="page"
            [pageSize]="take"
            [maxSize]="2"
            (pageChange)="pageChange()"
          >
            <ng-template ngbPaginationPrevious translate
              ><span translate><i class="fi fi-rr-angle-small-left"></i></span
            ></ng-template>
            <ng-template ngbPaginationNext translate
              ><span translate><i class="fi fi-rr-angle-small-right"></i></span
            ></ng-template>
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
