<section class="bg-dashboard" [ngStyle]="{'background-image': banner}" *ngIf="info">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-md-6">
        <div class="dashboard-profile">
          <div style="position: relative" class="box-image">
            <!-- <img src="{{info.avatarUrl|defaultImage}}" alt="" />  -->
            <img [src]="info.avatarUrl" onerror="this.src='/assets/images/default-avatar.jpg'" alt="" />
            <a (click)="openChangeAvatarModal()" class="btn-upload-avatar"><i class="fi fi-rr-pencil"></i></a>
            <a (click)="deleteAvatar()" class="btn-delete-avatar"><i class="fi fi-rr-trash"></i></a>
          </div>
          <div class="dashboard-profile-content pt-1">
            <h4 class="color-white">{{info.name}}</h4>
            <p class="color-white font-weight-bold" translate>{{ info.type === 'tutor' ? 'Expert' : 'Client' }}</p>
            <button class="btn btn-outline border-radius-md font-weight-bold" (click)="isEditProfile=!isEditProfile">
              <i class="fi fi-rr-settings me-2"></i>
              <span translate *ngIf="isEditProfile">Cancel</span>
              <span translate *ngIf="!isEditProfile">Edit Profile</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-5 col-md-12">
        <form #frm="ngForm" (submit)="submit(frm)" class="card-horizontal edit-profile-form" ngNativeValidate
          [attr.disabled]="uploading" *ngIf="!loading">
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}">
            <h6><span translate>Profile name</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">{{info.name}}</p>
            <input [hidden]="!isEditProfile" type="text" class="form-control" [(ngModel)]="info.name" name="name"
              #name="ngModel" required />
            <div *ngIf="name.errors && (name?.dirty || name?.touched|| isSubmitted)">
              <p *ngIf="name.errors['required']" class="error" translate>
                Profile name is required.
              </p>
            </div>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}">
            <h6>
              <span><span translate>Gender</span></span>
            </h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              <span translate *ngIf="info.gender === 'male'">Male</span>
              <span translate *ngIf="info.gender === 'female'">Female</span>
            </p>
            <select class="form-control" [hidden]="!isEditProfile" [(ngModel)]="info.gender" name="gender">
              <option value="male" translate>Male</option>
              <option value="female" translate>Female</option>
            </select>
          </div>
          <div *ngIf="info?.type==='tutor'" class="d-flex item-profile-form">
            <h6><span translate>Email</span></h6>
            <p class="text-secondary2">{{info.email}}</p>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}">
            <h6><span translate>Phone Number</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{info.phoneNumber}}
            </p>
            <input [hidden]="!isEditProfile" type="text" class="form-control" [(ngModel)]="info.phoneNumber"
              name="phone-number" #phone="ngModel" pattern="[0-9\+]{9,15}$" minlength="9" maxlength="15" required />
            <div *ngIf="phone.errors && (phone?.dirty || phone?.touched|| isSubmitted)">
              <p *ngIf="phone.errors['minlength'] || phone.errors['maxlength']" class="error" translate>
                Phone numbers must be between 9 to 15 digits
              </p>
              <p [hidden]="!phone.errors['pattern']" class="error" translate>
                Phone number is invalid format
              </p>
            </div>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>Country</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{info.country?.name}}
            </p>
            <ng-select [hidden]="!isEditProfile" [items]="countries" appendTo="body" name="country" bindLabel="name"
              [multiple]="false" [closeOnSelect]="true" [(ngModel)]="info.country" (change)="onCountryChange($event)"
              required #country="ngModel">
            </ng-select>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>State</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile" translate>
              {{(info?.state || 'Waiting for update') | ellipsis: 20}}
            </p>
            <ng-select [hidden]="!isEditProfile" [items]="states" appendTo="body" name="state" [multiple]="false"
              [closeOnSelect]="true" [(ngModel)]="info.state">
            </ng-select>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>City</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile" translate>
              {{(info?.city || 'Waiting for update') | ellipsis: 20}}
            </p>
            <input *ngIf="isEditProfile" type="text" class="form-control mar-bot-15" [(ngModel)]="info.city"
              name="city" />
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}">
            <h6><span translate>Address</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile" translate>
              {{(info?.address || 'Waiting for update') | ellipsis: 20}}
            </p>
            <input *ngIf="isEditProfile" type="text" class="form-control mar-bot-15" [(ngModel)]="info.address"
              name="address" />
          </div>
          <div class="item-profile-form" *ngIf="info && info.type === 'tutor'">
            <div class="d-flex justify-content-between align-items-center">
              <h6><span translate>Your Expert ID</span></h6>
              <p class="text-secondary2 mb-0">{{ info.userId }}</p>
            </div>
            <div class="d-flex align-items-center mt-2">
              <h6 class="me-3 mb-0"><span translate>Show only my ID (hide personal info)</span></h6>
              <label class="switch">
                <input type="checkbox" [checked]="!!info.showPublicIdOnly" (change)="changeShowPublicIdOnly()" />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>Years of Experience</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{yearsExperienceProxy || 0}}
            </p>
            <input [hidden]="!isEditProfile" type="number" min="0" class="form-control mar-bot-15"
              [(ngModel)]="yearsExperienceProxy" name="years-experience" />
          </div>
          <!-- <div
            class="item-profile-form"
            [ngClass]="{'d-flex':!isEditProfile}"
            *ngIf="info && info.type === 'tutor'"
          >
            <h6><span translate>Consultation Fee</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{consultationFeeProxy || 0}}
            </p>
            <input
              [hidden]="!isEditProfile"
              type="number"
              min="0"
              class="form-control mar-bot-15"
              [(ngModel)]="consultationFeeProxy"
              name="consultation-fee"
            />
          </div> -->
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>Language</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{languageNames.join(', ') | ellipsis: 20 }}
            </p>
            <ng-select [hidden]="!isEditProfile" [items]="languages" appendTo="body" name="languages" bindLabel="name"
              [multiple]="true" [closeOnSelect]="true" [(ngModel)]="info.languages" bindValue="id"
              (change)="onChangeLanguage($event)">
            </ng-select>
          </div>

          <div class="item-profile-form" *ngIf="info && info.type === 'tutor'">
            <div [ngClass]="{'d-flex justify-content-between':!isEditProfile}">
              <h6>
                <span translate>Intro video</span><strong translate> (youtube ID)</strong>
              </h6>
              <p class="text-secondary2" *ngIf="!isEditProfile">
                {{info.idYoutube}}
              </p>
            </div>
            <small translate>This video will be displayed on your tutor profile page</small>

            <input [hidden]="!isEditProfile" type="text" class="form-control"
              placeholder="{{'Enter id youtube from url'| translate}}" [(ngModel)]="info.idYoutube" name="id-youtube" />
            <small [hidden]="!isEditProfile">Please enter only <strong>ID</strong></small>
            <br />
            <small [hidden]="!isEditProfile">EG: https://www.youtube.com/watch?v=<strong>xRjlRfpsHGw</strong>
              <br />
              ID = <strong>xRjlRfpsHGw</strong></small>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>Slot duration default</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{info.defaultSlotDuration}} minutes
            </p>
            <select class="form-control" [hidden]="!isEditProfile" [(ngModel)]="info.defaultSlotDuration"
              name="slot-duration">
              <option value="{{60}}" translate>60</option>
              <option value="{{120}}" translate>120</option>
              <option value="{{150}}" translate>150</option>
              <option value="{{200}}" translate>200</option>
            </select>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>Zip code</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{info.zipCode}}
            </p>
            <input [hidden]="!isEditProfile" type="text" class="form-control"
              placeholder="{{'Enter zip code' | translate }}" [(ngModel)]="info.zipCode" name="zip code" />
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}">
            <h6><span translate>Paypal Email ID</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{info.paypalEmailId}}
            </p>
            <input [hidden]="!isEditProfile" type="email" class="form-control"
              placeholder="{{'user@example.com' | translate}}" [(ngModel)]="info.paypalEmailId" name="email-paypal"
              #paypalEmailId="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <div *ngIf="paypalEmailId.errors && (paypalEmailId.dirty || paypalEmailId.touched|| isSubmitted)">
              <p [hidden]="!paypalEmailId.errors['pattern']" class="error" translate>
                Email is invalid format
              </p>
            </div>
          </div>
          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}">
            <h6><span translate>Timezone</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile">
              {{info.timezone}}
            </p>
            <app-timezone [hidden]="!isEditProfile" [userTz]="info.timezone"
              (timezoneChange)="changeTimezone($event)"></app-timezone>
            <div *ngIf="!info.timezone && isSubmitted">
              <p class="error" translate>Please select your timezone</p>
            </div>
          </div>

          <div class="item-profile-form" [ngClass]="{'d-flex':!isEditProfile}" *ngIf="info && info.type === 'tutor'">
            <h6><span translate>Highlights</span></h6>
            <p class="text-secondary2" *ngIf="!isEditProfile" translate>
              {{ (info?.highlights?.join(', ') || 'Waiting for update') | ellipsis: 20 }}
            </p>
            <ng-select [hidden]="!isEditProfile" [items]="info?.highlights || []" appendTo="body" name="highlights"
              [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" [addTag]="true"
              [(ngModel)]="info.highlights">
            </ng-select>
          </div>

          <div class="mt-3" *ngIf="info.type === 'tutor'" class="item-profile-form">
            <div [ngClass]="{'d-flex justify-content-between':!isEditProfile}">
              <h6><span translate>Introduction video</span></h6>
              <p class="text-secondary2" *ngIf="!isEditProfile && introVideoType==='youtube' && info.introYoutubeId ">
                {{info.introYoutubeId}}
              </p>
              <p class="text-secondary2" *ngIf="!isEditProfile && introVideoType==='upload' && introVideoName ">
                {{introVideoName}}
              </p>
            </div>
            <small translate>This video will be displayed on admin page</small>
            <div *ngIf="isEditProfile">
              <label class="custom-radio"><span translate>Upload</span>
                <input type="radio" name="videotype" value="upload" [disabled]="!isEditProfile"
                  [(ngModel)]="introVideoType" />
                <span class="checkmark"></span>
              </label>
              <label class="custom-radio" translate><span translate>From youtube</span>
                <input type="radio" name="videotype" value="youtube" [disabled]="!isEditProfile"
                  [(ngModel)]="introVideoType" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div *ngIf="isEditProfile" class="mb-3">
            <div class="form-group" *ngIf="info.type === 'tutor' && introVideoType === 'youtube'">
              <input type="text" class="form-control" placeholder="{{ 'Youtube Id' | translate }}" #video="ngModel"
                required name="video" [(ngModel)]="info.introYoutubeId" />
              <div *ngIf="video.errors && (video.dirty || video.touched || isSubmitted)">
                <p [hidden]="!video.errors['required']" class="error" translate>
                  Youtube video Id is required
                </p>
              </div>
              <small translate>Please enter only ID</small>
              <br />
              <small>EG: https://www.youtube.com/watch?v=<strong>xRjlRfpsHGw</strong>
                <br />
                ID = <strong>xRjlRfpsHGw</strong></small>
              >
            </div>
            <div *ngIf="info.type === 'tutor' && introVideoType === 'upload'">
              <p *ngIf="introVideo && introVideo.name">{{ introVideo.name }}</p>
              <!-- <app-file-upload [options]="introVideoOptions"></app-file-upload> -->
              <small translate>Upload mp4 file, webm file, 3gp file, ogg file, wmv file or
                webm file for your video</small>
            </div>
          </div>
          <div class="item-profile-form d-flex">
            <h6><span translate>Notification</span></h6>
            <label class="switch">
              <input type="checkbox" [checked]="info.notificationSettings" (change)="changeNotification()" />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="text-end rmt-4 rtxt-left mt-2" *ngIf="isEditProfile">
            <button class="btn btn-default me-2" type="submit" translate>
              Submit
            </button>
            <button class="btn btn-outline-dark" (click)="isEditProfile=false" type="button" translate>
              Cancel
            </button>
          </div>
        </form>
        <div *ngIf="info" class="card mt-4">
          <div class="card-header">
            <h4 translate>Update password</h4>
          </div>
          <div class="card-body">
            <form class="row" #frmPass="ngForm" (submit)="submit(frmPass)" ngNativeValidate>
              <div class="col-md-8 rmb-2">
                <div class="form-group input-border mb-0">
                  <input type="password" class="form-control" [(ngModel)]="info.password" name="password"
                    #password="ngModel" minlength="6" placeholder="{{'Enter password' | translate}}" />
                  <div *ngIf="password.errors && (password.dirty || password.touched || isSubmitted)">
                    <p [hidden]="!password.errors['minlength']" style="color: red">
                      Password must be at least 6 characters!
                    </p>
                  </div>
                  <p class="help help-block">
                    <small>Leave blank to keep the current password</small>
                  </p>
                </div>
              </div>
              <div class="col-md-4 text-end rtxt-left">
                <button class="btn btn-default btn-block" type="submit" translate>
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="info && info.type==='student'" class="card mt-4">
          <div class="card-header">
            <h4 translate>Update email</h4>
          </div>
          <div class="card-body">
            <form class="row" #frmEmail="ngForm" (submit)="submitChangeEmail()" ngNativeValidate>
              <div class="col-md-8 rmb-2">
                <div class="form-group input-border mb-0">
                  <input type="text" class="form-control" placeholder="{{ 'Enter your email' | translate }}"
                    #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" name="email" required
                    [(ngModel)]="info.email" />
                  <small class="form-text text-muted" translate>After changing your email, you need to verify
                    it.</small>
                  <div *ngIf="email.errors && (email.dirty || email.touched || isSubmitted)">
                    <p [hidden]="!email.errors['required']" class="error" translate>
                      Email is required
                    </p>
                    <p [hidden]="!email.errors['pattern']" class="error" translate>
                      Email is invalid format
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-end rtxt-left">
                <button class="btn btn-default btn-block" type="submit" translate>
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card mt-4 mb-4" *ngIf="info && info.type === 'tutor'">
          <div class="card-header">
            <h4 translate>Invite Friend</h4>
          </div>
          <div class="card-body">
            <form class="row" #frmInvite="ngForm" (submit)="inviteFriend()" ngNativeValidate>
              <div class="col-md-8 rmb-2">
                <div class="form-group input-border mb-0">
                  <input type="email" class="form-control" placeholder="{{'user@example.com' | translate}}"
                    [(ngModel)]="emailInvite" name="email-invite" #emailInViteFriend="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                  <div *ngIf="emailInViteFriend.errors && (emailInViteFriend.dirty || emailInViteFriend.touched)">
                    <p [hidden]="!emailInViteFriend.errors['required']" class="error" translate>
                      Email is required
                    </p>
                    <p [hidden]="!emailInViteFriend.errors['pattern']" class="error" translate>
                      Email is invalid format
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-end rtxt-left">
                <button class="btn btn-default btn-block" type="submit" translate>
                  Invite
                </button>
              </div>
            </form>
            <div class="mt-3 share-me" *ngIf="info.type==='tutor' && info.username">
              <h5 translate class="me-3">Share my profile</h5>
              <share-button button="facebook" theme="circles-light"></share-button>
              <share-button button="twitter" theme="circles-light"></share-button>
              <!-- <share-button
                button="instagram"
                theme="circles-light"
                [icon]="['fab', 'instagram']"
              ></share-button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4><span translate>Description</span></h4>
            <div class="card-header-right">
              <a href="javascript:void(0)" (click)="isEditDescription=!isEditDescription"><i
                  class="fi fi-rr-pencil text-secondary"></i></a>
            </div>
          </div>
          <div class="card-body">
            <app-card-text *ngIf="!isEditDescription && !loading" [content]="info?.bio || ''"
              [showChar]="showChar"></app-card-text>

            <form class="form-group" #frm5="ngForm" (submit)="submit(frm5)" *ngIf="isEditDescription" ngNativeValidate>
              <div *ngIf="isEditDescription">
                <quill-editor [(ngModel)]="info.bio" placeholder="Enter Text" [modules]="quillConfig" name="bio">
                </quill-editor>
                <div class="text-end rmt-4 rtxt-left mt-2">
                  <!-- <button class="btn btn-default" (click)="submit(frm, 5)" translate>Submit</button> -->
                  <button class="btn btn-default btn-block" type="submit" translate>
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="card mt-4 input-border" *ngIf="info && info.type==='tutor'">
          <div class="card-header">
            <h4 translate>Choose Grades</h4>
            <div class="card-header-right">
              <a href="javascript:void(0)" (click)="isEditGrade=!isEditGrade"
                ><i class="fi fi-rr-pencil text-secondary"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <form
              class="form-group"
              #frm1="ngForm"
              (submit)="submit(frm1)"
              *ngIf="isEditGrade"
              ngNativeValidate
            >
              <ng-select
                [items]="grades"
                [hideSelected]="true"
                appendTo="body"
                [multiple]="true"
                bindLabel="name"
                [closeOnSelect]="false"
                name="grade"
                placeholder="{{'Choose grades' |  translate}}"
                [(ngModel)]="info.grades"
                bindValue="_id"
                #tutorGrades="ngModel"
                (change)="onChangeGrade($event)"
              >
              </ng-select>
            </form>
            <div class="list-grades">
              <a class="badge badge-white" *ngFor="let grade of gradeNames"
                >{{grade}}</a
              >
            </div>
          </div>
        </div> -->
        <div class="card mt-4 input-border" *ngIf="info && info.type==='tutor'">
          <div class="card-header">
            <h4 translate>Choose Skills</h4>
            <div class="card-header-right">
              <a href="javascript:void(0)" (click)="isEditSkill=!isEditSkill"><i
                  class="fi fi-rr-pencil text-secondary"></i></a>
            </div>
          </div>
          <div class="card-body">
            <form class="form-group" #frmSkill="ngForm" (submit)="submit(frmSkill)" *ngIf="isEditSkill"
              ngNativeValidate>
              <ng-select [items]="skills" [hideSelected]="true" appendTo="body" [multiple]="true" bindLabel="name"
                [closeOnSelect]="false" name="skills" placeholder="{{'Choose skills' |  translate}}"
                [(ngModel)]="info.skillIds" bindValue="_id" #tutorSkills="ngModel" (change)="onChangeSkill($event)"
                [addTag]="addSkillTag">
              </ng-select>
            </form>
            <div class="list-grades">
              <a class="badge badge-white" *ngFor="let sk of skillNames">{{sk}}</a>
            </div>
          </div>
        </div>
        <div class="card mt-4 input-border" *ngIf="info && info.type==='tutor'">
          <div class="card-header">
            <h4 translate>Choose Industries</h4>
            <div class="card-header-right">
              <a href="javascript:void(0)" (click)="isEditSkill=!isEditSkill"><i
                  class="fi fi-rr-pencil text-secondary"></i></a>
            </div>
          </div>
          <div class="card-body">
            <form class="form-group" #frmIndustry="ngForm" (submit)="submit(frmIndustry)" *ngIf="isEditSkill"
              ngNativeValidate>
              <ng-select [items]="industries" [hideSelected]="true" appendTo="body" [multiple]="true" bindLabel="name"
                [closeOnSelect]="false" name="industries" placeholder="{{'Choose industries' |  translate}}"
                [(ngModel)]="info.industryIds" bindValue="_id" #tutorIndustries="ngModel"
                (change)="onChangeIndustry($event)">
              </ng-select>
            </form>
            <div class="list-grades">
              <a class="badge badge-white" *ngFor="let ind of industryNames">{{ind}}</a>
            </div>
          </div>
        </div>
        <div class="card mt-4" *ngIf=" info &&info.type==='tutor'">
          <div class="card-header">
            <h4 translate>Resume</h4>
          </div>
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
              <li [ngbNavItem]="1" [destroyOnHide]="true">
                <button ngbNavLink>Education</button>
                <ng-template ngbNavContent>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-4">
                      <button type="button" class="btn btn-md btn-default" (click)="openCertification('education')">
                        <i class="fi fi-rr-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-12 mb-4"
                      *ngIf="!info.education || (info.education && info.education.length === 0)">
                      <p translate>There is no education</p>
                    </div>
                    <div class="col-sm-6 mb-3" *ngFor="let cer of info.education, let i = index">
                      <div class="card" style="
                          border: 1px solid rgba(0, 0, 0, 0.125);
                          border-radius: 0.25rem;
                        ">
                        <div class="card-body">
                          <div class="col-md-12 mb-4">
                            <p class="card-text font-md">
                              {{cer.fromYear}} - {{cer.toYear}}
                            </p>
                          </div>
                          <div class="col-md-12 mb-4 mt-1">
                            <h5>{{cer.title | ellipsis: 18}}</h5>
                            <h5 *ngIf="cer.verified">
                              <img src="../assets/images/tutor/verified.svg" class="me-2" /><span
                                translate>Verified</span>
                            </h5>
                            <p class="card-text">
                              {{cer.description | ellipsis: 20}}
                            </p>
                          </div>
                          <a href="javascript:void(0)" (click)="openCertification('education',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rs-pencil font-sm"></i></a>&nbsp;
                          <a href="javascript:void(0)" (click)="deleteCer('education',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rr-trash font-sm"></i></a>&nbsp;
                          <a [href]="cer.document?.fileUrl" download class="btn btn-outline-dark btn-action"><i
                              class="fi fi-rr-download font-sm"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <button ngbNavLink>Experience</button>
                <ng-template ngbNavContent>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-4">
                      <button type="button" class="btn btn-md btn-default" (click)="openCertification('experience')">
                        <i class="fi fi-rr-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-12 mb-4"
                      *ngIf="!info.experience || (info.experience && info.experience.length === 0)">
                      <p translate>There is no experience</p>
                    </div>
                    <div class="col-sm-6 mb-3" *ngFor="let cer of info.experience, let i = index">
                      <div class="card" style="
                          border: 1px solid rgba(0, 0, 0, 0.125);
                          border-radius: 0.25rem;
                        ">
                        <div class="card-body">
                          <div class="col-md-12 mb-4">
                            <p class="card-text font-md">
                              {{cer.fromYear}} - {{cer.toYear}}
                            </p>
                          </div>
                          <div class="col-md-12 mb-4 mt-1">
                            <h5>{{cer.title | ellipsis: 18}}{{cer.organization ? ' at ' + (cer.organization | ellipsis: 15) : ''}}</h5>
                            <h5 *ngIf="cer.verified">
                              <img src="../assets/images/tutor/verified.svg" class="me-2" /><span
                                translate>Verified</span>
                            </h5>
                            <p class="card-text">
                              {{cer.description | ellipsis: 20}}
                            </p>
                          </div>
                          <a href="javascript:void(0)" (click)="openCertification('experience',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rs-pencil font-sm"></i></a>&nbsp;
                          <a href="javascript:void(0)" (click)="deleteCer('experience',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rr-trash font-sm"></i></a>&nbsp;
                          <a [href]="cer.document?.fileUrl" download class="btn btn-outline-dark btn-action"><i
                              class="fi fi-rr-download font-sm"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <button ngbNavLink>Certification</button>
                <ng-template ngbNavContent let-active>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-4">
                      <button type="button" class="btn btn-md btn-default" (click)="openCertification('certification')">
                        <i class="fi fi-rr-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-12 mb-4"
                      *ngIf="!info.certification || (info.certification && info.certification.length === 0)">
                      <p translate>There is no certification</p>
                    </div>
                    <div class="col-sm-6 mb-3" *ngFor="let cer of info.certification, let i = index">
                      <div class="card" style="
                          border: 1px solid rgba(0, 0, 0, 0.125);
                          border-radius: 0.25rem;
                        ">
                        <div class="card-body">
                          <div class="col-md-12 mb-4">
                            <p class="card-text font-md">
                              {{cer.fromYear}} - {{cer.toYear}}
                            </p>
                          </div>
                          <div class="col-md-12 mb-4 mt-1">
                            <h5>{{cer.title | ellipsis: 18}}</h5>
                            <h5 *ngIf="cer.verified">
                              <img src="../assets/images/tutor/verified.svg" class="me-2" translate /><span
                                translate>Verified</span>
                            </h5>
                            <p class="card-text">
                              {{cer.description | ellipsis: 20}}
                            </p>
                          </div>
                          <a href="javascript:void(0)" (click)="openCertification('certification',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rs-pencil font-sm"></i></a>&nbsp;
                          <a href="javascript:void(0)" (click)="deleteCer('certification',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rr-trash font-sm"></i></a>&nbsp;
                          <a [href]="cer.document?.fileUrl" download class="btn btn-outline-dark btn-action"><i
                              class="fi fi-rr-download font-sm"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            <!-- <ngb-tabset>
              <ngb-tab title="{{'Education'|translate}}">
                <ng-template ngbTabContent>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-4">
                      <button type="button" class="btn btn-md btn-default" (click)="openCertification('education')">
                        <i class="fi fi-rr-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-12 mb-4"
                      *ngIf="!info.education || (info.education && info.education.length === 0)">
                      <p translate>There is no education</p>
                    </div>
                    <div class="col-sm-6 mb-3" *ngFor="let cer of info.education, let i = index">
                      <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
                        <div class="card-body">
                          <div class="col-md-12 mb-4">
                            <p class="card-text font-md">{{cer.fromYear}} - {{cer.toYear}}</p>
                          </div>
                          <div class="col-md-12 mb-4 mt-1">
                            <h5>{{cer.title | ellipsis: 18}}</h5>
                            <h5 *ngIf="cer.verified">
                              <img src="../assets/images/tutor/verified.svg" class="me-2" /><span
                                translate>Verified</span>
                            </h5>
                            <p class="card-text">{{cer.description | ellipsis: 20}}</p>
                          </div>
                          <a href="javascript:void(0)" (click)="openCertification('education',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rs-pencil font-sm"></i></a>&nbsp;
                          <a href="javascript:void(0)" (click)="deleteCer('education',i, cer)"
                            class="btn btn-outline-dark  btn-action"><i class="fi fi-rr-trash font-sm"></i></a>&nbsp;
                          <a [href]="cer.document?.fileUrl" download class="btn btn-outline-dark  btn-action"><i
                              class="fi fi-rr-download font-sm"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="{{'Experience'|translate}}">
                <ng-template ngbTabContent>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-4">
                      <button type="button" class="btn btn-md btn-default" (click)="openCertification('experience')">
                        <i class="fi fi-rr-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-12 mb-4"
                      *ngIf="!info.experience || (info.experience && info.experience.length === 0)">
                      <p translate>There is no experience</p>
                    </div>
                    <div class="col-sm-6 mb-3" *ngFor="let cer of info.experience, let i = index">
                      <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
                        <div class="card-body">
                          <div class="col-md-12 mb-4">
                            <p class="card-text font-md">{{cer.fromYear}} - {{cer.toYear}}</p>
                          </div>
                          <div class="col-md-12 mb-4 mt-1">
                            <h5>{{cer.title | ellipsis: 18}}{{cer.organization ? ' at ' + (cer.organization | ellipsis: 15) : ''}}</h5>
                            <h5 *ngIf="cer.verified">
                              <img src="../assets/images/tutor/verified.svg" class="me-2" /><span
                                translate>Verified</span>
                            </h5>
                            <p class="card-text">{{cer.description | ellipsis: 20}}</p>
                          </div>
                          <a href="javascript:void(0)" (click)="openCertification('experience',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rs-pencil font-sm"></i></a>&nbsp;
                          <a href="javascript:void(0)" (click)="deleteCer('experience',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rr-trash font-sm"></i></a>&nbsp;
                          <a [href]="cer.document?.fileUrl" download class="btn btn-outline-dark btn-action"><i
                              class="fi fi-rr-download font-sm"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="{{'Certification'|translate}}">
                <ng-template ngbTabContent>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-4">
                      <button type="button" class="btn btn-md btn-default" (click)="openCertification('certification')">
                        <i class="fi fi-rr-plus"></i> Add
                      </button>
                    </div>
                    <div class="col-md-12 mb-4"
                      *ngIf="!info.certification || (info.certification && info.certification.length === 0)">
                      <p translate>There is no certification</p>
                    </div>
                    <div class="col-sm-6 mb-3" *ngFor="let cer of info.certification, let i = index">
                      <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
                        <div class="card-body">
                          <div class="col-md-12 mb-4">
                            <p class="card-text font-md">{{cer.fromYear}} - {{cer.toYear}}</p>
                          </div>
                          <div class="col-md-12 mb-4 mt-1">
                            <h5>{{cer.title | ellipsis: 18}}</h5>
                            <h5 *ngIf="cer.verified">
                              <img src="../assets/images/tutor/verified.svg" class="me-2" translate /><span
                                translate>Verified</span>
                            </h5>
                            <p class="card-text">{{cer.description | ellipsis: 20}}</p>
                          </div>
                          <a href="javascript:void(0)" (click)="openCertification('certification',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rs-pencil font-sm"></i></a>&nbsp;
                          <a href="javascript:void(0)" (click)="deleteCer('certification',i, cer)"
                            class="btn btn-outline-dark btn-action"><i class="fi fi-rr-trash font-sm"></i></a>&nbsp;
                          <a [href]="cer.document?.fileUrl" download class="btn btn-outline-dark btn-action"><i
                              class="fi fi-rr-download font-sm"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset> -->
          </div>
        </div>
        <!-- <div class="card mt-3" *ngIf="info && info.type==='student'">
          <div class="card-header">
            <h4 translate>My course certificates</h4>
          </div>
          <div class="mb-4" *ngIf="!myCompletedCourses?.length">
            <p translate>There is no course certificate</p>
          </div>
          <div class="table-responsive">
            <table
              id="table_id"
              class="table dataTable no-footer"
              role="grid"
              aria-describedby="table_id_info"
            >
              <thead>
                <tr>
                  <th translate>Course Name</th>
                  <th translate>Completed Date</th>
                  <th translate>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of myCompletedCourses, let i = index">
                  <td>{{item?.name}}</td>
                  <td>{{item?.completedAt |date:'shortDate'}}</td>
                  <td>
                    <button
                      (click)="viewCertificate(item)"
                      class="btn btn-outline-dark btn-action me-2"
                    >
                      <i class="fi fi-rr-eye"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
        <div *ngIf="info && info.type !=='tutor'" class="card mt-4 mb-4">
          <div class="card-header">
            <h4 translate>Invite Friend</h4>
          </div>
          <div class="card-body">
            <form class="row" #frmInvite="ngForm" (submit)="inviteFriend()" ngNativeValidate>
              <div class="col-md-8">
                <div class="form-group input-border mb-0">
                  <input type="email" class="form-control" placeholder="{{'user@example.com' | translate}}"
                    [(ngModel)]="emailInvite" name="email-invite" #emailInViteFriend="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                  <div *ngIf="emailInViteFriend.errors && (emailInViteFriend.dirty || emailInViteFriend.touched)">
                    <p [hidden]="!emailInViteFriend.errors['required']" class="error" translate>
                      Email is required
                    </p>
                    <p [hidden]="!emailInViteFriend.errors['pattern']" class="error" translate>
                      Email is invalid format
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <button class="btn btn-default btn-block" type="submit" translate>
                  Invite
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>