.calendar-container {
  position: relative;

  .calendar-loading {
    display: none;
  }

  &.loading {
    .calendar-loading {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: rgb(114 114 114 / 80%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}