<c-modal
  [visible]="visible"
  (visibleChange)="handleModalChange($event)"
  alignment="center"
>
  <c-modal-header>
    <h5 cModalTitle>My Topic</h5>
    <button cButtonClose (click)="closeModal()"></button>
  </c-modal-header>
  <c-modal-body>
    <form #frm="ngForm" (submit)="submit(frm)">
      <div class="mb-3">
        <label cLabel>Select Topic</label>
        <ng-select
          [items]="topics"
          bindLabel="name"
          name="topic"
          placeholder="Choose Topic"
          [ngModel]="myTopic?.originalTopicId"
          (ngModelChange)="updateTopicId($event)"
          bindValue="_id"
          #topicId="ngModel"
          required
          [disabled]="myTopic?._id"
          class="my-select"
        >
        </ng-select>
        @if(topicId.errors && (topicId.dirty || topicId.touched || submitted)) {
        @if(topicId.errors['required']) {
        <div class="invalid-feedback d-block">Topic is required</div>
        } }
      </div>
      <div class="mb-3">
        <label cLabel>Price</label>
        <input
          cFormControl
          type="number"
          name="price"
          placeholder="Enter price"
          [ngModel]="myTopic?.price"
          (ngModelChange)="updatePrice($event)"
          required
          #price_="ngModel"
        />
        @if(price_.errors && (price_.dirty || price_.touched || submitted)) {
        @if(price_.errors['required']) {
        <div class="invalid-feedback d-block">Price is required</div>
        } } @if(myTopic?.price < 0) {
        <div class="invalid-feedback d-block">
          Price must be equal or greater than 0
        </div>
        }
      </div>
      <div class="mb-3">
        <c-form-check>
          <input
            cFormCheckInput
            type="checkbox"
            name="isActive"
            [ngModel]="myTopic?.isActive"
            (ngModelChange)="updateIsActive($event)"
          />
          <label cFormCheckLabel>Active</label>
        </c-form-check>
      </div>
      <div class="mt-3">
        <button cButton color="primary" type="submit" class="me-2">
          Submit
        </button>
        <button cButton color="secondary" type="button" (click)="closeModal()">
          Close
        </button>
      </div>
    </form>
  </c-modal-body>
</c-modal>
