.login-form {
  width: 100%;
  max-width: 420px;
}

.form-control {
  height: 48px;
  border-radius: 8px;
}

.btn-default {
  height: 48px;
  font-weight: 600;
}

.sub-content {
  font-size: 14px;
}

.error {
  font-size: 12px;
  color: #e53935;
  margin-top: 4px;
}

/* Mobile */
@media (max-width: 991px) {
  .login-aside {
    display: none;
  }

  // .login-content {
  //   padding: 20px;
  // }
}
.login-form {
  width: 100%;
  max-width: 420px;
}

.form-control {
  height: 48px;
  border-radius: 8px;
}

.btn-default {
  height: 48px;
  font-weight: 600;
}

.sub-content {
  font-size: 14px;
}

.error {
  font-size: 12px;
  color: #e53935;
  margin-top: 4px;
}
.login-aside {
  width: 100%;
  min-height: 100vh;

  background-size: cover;        /* KEY: fills entire area */
  background-position: center;   /* center crop */
  background-repeat: no-repeat;
}


/* Mobile */
@media (max-width: 991px) {
  .login-aside {
    display: none;
  }

  // .login-content {
  //   padding: 20px;
  // }
}



