<div class="sm-padding data-table">
  <div class="container">

    <div class="card mb-3 card-filter input-border">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div id="table_id_filter">
              <input (keyup)="doSearch($event)" type="search" class="form-control" placeholder="Search"
                aria-controls="table_id" />
            </div>
          </div>
          <div class="col-md-3">
            <a class="btn btn-default" [routerLink]="['/users/groupsession/create']"><i
                class="fi fi-rr-plus me-2 font-sm"></i> <span translate>Add</span></a>
          </div>  
        </div>
      </div>
    </div>
    <div id="table_id_wrapper" class="card">
      <div class="table-responsive">
        <table id="table_id" class="table table-user dataTable no-footer webinar-list-table" role="grid"
          aria-describedby="table_id_info">
          <thead>
            <tr role="row">
              <!-- <th class="col-image" aria-label="Main Image" translate>Main Image</th> -->
              <th class="col-name">
                <span (click)="sortBy('name', 'asc')" translate>Topic</span>
                <app-sort [sortOption]="sortOption" [sortBy]="'name'" (onSort)="onSort($event)"></app-sort>
              </th>
              <th class="col-num">
                <span (click)="sortBy('maximumStrength', 'asc')" translate>Maximum participants</span>
                <app-sort [sortOption]="sortOption" [sortBy]="'maximumStrength'" (onSort)="onSort($event)"></app-sort>
              </th>
              <th class="col-num">
                <span (click)="sortBy('numberParticipants', 'asc')" translate>Participants Enrolled</span>
                <app-sort [sortOption]="sortOption" [sortBy]="'numberParticipants'" (onSort)="onSort($event)"></app-sort>
              </th>
              <th class="col-date">
                <span (click)="sortBy('lastDate', 'asc')" translate>Last Booked</span>
                <app-sort [sortOption]="sortOption" [sortBy]="'lastDate'" (onSort)="onSort($event)"></app-sort>
              </th>
              <th class="col-active text-center">
                <span (click)="sortBy('disabled', 'asc')" translate>Active</span>
                <app-sort [sortOption]="sortOption" [sortBy]="'disabled'" (onSort)="onSort($event)"></app-sort>
              </th>
              <th class="col-date">
                <span (click)="sortBy('createdAt', 'asc')" translate>Created On</span>
                <app-sort [sortOption]="sortOption" [sortBy]="'createdAt'" (onSort)="onSort($event)"></app-sort>
              </th>
              <th class="col-action" translate>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" *ngFor="let item of items; let i = index">
              <!-- <td class="col-image">
                <img src="{{item?.mainImage?.thumbUrl || '/assets/images/no-image.jpg'}}" alt="" class="table-img"
                  onerror="this.src='/assets/images/no-image.jpg'" />
              </td> -->
              <td class="col-name">
                <a href="javascript:void(0)" (click)="showParticipants(item)">{{item?.name}}</a>
              </td>
              <td class="col-num">{{ item?.maximumStrength ?? '—' }}</td>
              <td class="col-num">{{ item?.numberParticipants ?? 0 }}</td>
              <td class="col-date">{{item?.lastDate | date}}</td>
              <td class="col-active text-center">
                <a class="btn btn-hvr-primary btn-sm btn-icon-padding" href="javascript:void(0)"
                  [ngClass]="{'btn-light-danger': item.disabled, 'btn-light-primary btn-hvr-primary': !item.disabled }">
                  <i class="fi fi-ss-badge-check" *ngIf="!item.disabled"></i>
                  <i class="fi fi-rr-cross" *ngIf="item.disabled"></i>
                </a>
              </td>
              <td class="col-date">{{item.createdAt | date}}</td>
              <td class="col-action">
                <a class="btn btn-outline-dark" [routerLink]="['/users/groupsession', item._id]">
                  <i class="fi fi-rs-pencil"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bottom-table">
        <div class="showing-table" id="table_id_info" role="status" aria-live="polite" translate>
          <span translate>Showing</span> <span> {{ fromItem }} </span> <span translate>to</span>
          <span> {{ toItem }} </span> <span translate>of</span> <span> {{ total }}</span>
          <span translate>entries</span>
        </div>
        <div class="input-border show-entries" id="table_id_length">
          <span translate>Show</span>
          <select name="table_id_length" aria-controls="table_id"
            class="custom-select custom-select-sm form-control form-control-sm" (change)="showChange($event)">
            <option value="{{10}}">10</option>
            <option value="{{25}}">25</option>
            <option value="{{50}}">50</option>
            <option value="{{100}}">100</option>
          </select>
          <span translate>entries</span>
        </div>
        <div class="pagination-table" id="table_id_paginate">
          <ngb-pagination [collectionSize]="total" [(page)]="currentPage" [pageSize]="pageSize" [maxSize]="2"
            (pageChange)="pageChange()" class="float-right">
            <ng-template ngbPaginationPrevious translate><span translate><i
                  class="fi fi-rr-angle-small-left"></i></span></ng-template>
            <ng-template ngbPaginationNext translate><span translate><i
                  class="fi fi-rr-angle-small-right"></i></span></ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>

  </div>
</div>