

#testimonial-slider {
  .slick-list {
    padding: 0 30px;
    margin: 0 -30px;
  }
  .slick-slide {
    padding: 10px;
  }
  .description-testimonials {
    padding-top: 15px;
    height: 175px;
    overflow: hidden;
    .sub-content {
      line-height: 23px;
    }
  }
  .box-testimonials {
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 15px;
  }
  .profile {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      object-fit: cover;
    }
    h4 {
      font-size: 16px;
      margin: 0;
    }
    p {
      font-size: 15px;
      margin: 0;
      line-height: 18px;
      color: #666;
    }
  }
  .video-frame {
    position: relative;
    padding-top: 65%;
    background-color: #333;
    cursor: pointer;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      border-radius: 5px
    }
    .play-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      border: 3px solid #fff;
      background-color: rgba(0, 0, 0, 0.2);
      &::before {
        content: ' ';
        display: inline-block;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-left:10px solid #fff; 
      }
    }
  }
  
}

