<c-container>
  <c-row>
    <c-col>
      <c-card class="mb-4">
        <c-card-header>
          <h3>Manage Earning Stats</h3>
        </c-card-header>

        <c-card-body>
          <c-row>
            <c-col md="4">
              <div class="mb-3">
                <ng-select
                  cFormControl
                  [items]="tutor"
                  bindLabel="name"
                  bindValue="id"
                  [(ngModel)]="searchFields.tutorId"
                  placeholder="Select Expert"
                  (clear)="onTutorCleared()"
                  class="my-select"
                ></ng-select>
              </div>
            </c-col>
            <c-col md="4">
              <div class="mb-3">
                <select class="form-control" (change)="export($event)">
                  <option value="">Export</option>
                  <option value="csv">Export Csv</option>
                  <option value="excel">Export Excel</option>
                </select>
              </div>
            </c-col>

            <c-col md="4">
              <div class="mb-3">
                <button cButton color="primary" class="w-100" (click)="query()">
                  Filter
                </button>
              </div>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
      <c-card>
        <c-card-header>
          <div
            class="d-flex flex-wrap justify-content-between align-items-center"
          >
            <h4 class="mb-0">Total Earning Stats: {{ total }}</h4>

            <app-pagination
              [currentPage]="currentPage"
              [pageSize]="pageSize"
              [totalItems]="total"
              [maxSize]="3"
            ></app-pagination>
          </div>
        </c-card-header>
        <c-card-body>
          @if (total !==0) {
          <div class="table-responsive">
            <table
              class="table table-bordered"
              cTable
              [responsive]="true"
              [cBorder]="1"
              borderColor="gray"
              bordered
              style="table-layout: fixed; width: 1610px"
            >
              <thead>
                <tr class="">
                  <th scope="col" rowspan="2">
                    <app-sort
                      (onSort)="onSort($event)"
                      sortBy="tutorName"
                      [sortOption]="sortOption"
                      sortTitle="Expert Name"
                    ></app-sort>
                  </th>
                  <th scope="col" rowspan="2">
                    <app-sort
                      (onSort)="onSort($event)"
                      sortBy="tutorEmail"
                      [sortOption]="sortOption"
                      sortTitle="Expert Email"
                    ></app-sort>
                  </th>
                  <th scope="col" rowspan="2">
                    <app-sort
                      (onSort)="onSort($event)"
                      sortBy="commissionRate"
                      [sortOption]="sortOption"
                      sortTitle="Total"
                    ></app-sort>
                  </th>
                  <th scope="col" rowspan="2">
                    <app-sort
                      (onSort)="onSort($event)"
                      sortBy="totalAmountPayoutRequest"
                      [sortOption]="sortOption"
                      sortTitle="Total amount requested for payment (Incl. Admin commission)"
                    ></app-sort>
                  </th>
                  <th scope="col" colspan="3">
                    <app-sort
                      (onSort)="onSort($event)"
                      sortBy="totalTutorTillDate"
                      [sortOption]="sortOption"
                      sortTitle="Expert Earnings"
                    ></app-sort>
                  </th>
                  <th scope="col" colspan="3">
                    <app-sort
                      (onSort)="onSort($event)"
                      sortBy="totalAdminTillDate"
                      [sortOption]="sortOption"
                      sortTitle="Admin Earnings"
                    ></app-sort>
                  </th>
                  <th
                    scope=""
                    rowspan="2"
                    style="
                      width: 100px;
                      position: sticky;
                      right: 0;
                      z-index: 10;
                      box-shadow: inset -1px 0 0 var(--cui-border-color),
                        inset 1px 0 0 var(--cui-border-color);
                    "
                  >
                    Action
                  </th>
                </tr>
                <tr>
                  <th>Total till date</th>
                  <th>Paid till date</th>
                  <th>Balance due</th>
                  <th>Total till date</th>
                  <th>Paid till date</th>
                  <th>Balance due</th>
                </tr>
              </thead>

              <tbody>
                @for (item of items; track item) {
                <tr>
                  <td>{{ item?.tutorName }}</td>
                  <td>{{ item?.tutorEmail }}</td>
                  <td>{{ item?.commissionRate }}</td>

                  <td>
                    {{item?.totalAmountPayoutRequest | currency :
                    (config?.currencySymbol ? config?.currencySymbol : '$'):
                    'symbol' : '1.0'}}
                  </td>
                  <td>
                    {{item?.totalTutorTillDate | currency :
                    (config?.currencySymbol ? config?.currencySymbol : '$'):
                    'symbol' : '1.0'}}
                  </td>
                  <td>
                    {{item?.paidTutorTillDate | currency :
                    (config?.currencySymbol ? config?.currencySymbol : '$'):
                    'symbol' : '1.0'}}
                  </td>
                  <td>
                    {{item?.balanceTutorDue | currency : (config?.currencySymbol
                    ? config?.currencySymbol : '$'): 'symbol' : '1.0'}}
                  </td>
                  <td>
                    {{item?.totalAdminTillDate | currency :
                    (config?.currencySymbol ? config?.currencySymbol : '$'):
                    'symbol' : '1.0'}}
                  </td>
                  <td>
                    {{item?.paidAdminTillDate | currency :
                    (config?.currencySymbol ? config?.currencySymbol : '$'):
                    'symbol' : '1.0'}}
                  </td>
                  <td>
                    {{item?.balanceAdminDue | currency :
                    (config?.currencySymbol ? config?.currencySymbol : '$'):
                    'symbol' : '1.0'}}
                  </td>
                  <td
                    style="
                      position: sticky;
                      right: 0;
                      z-index: 10;
                      box-shadow: inset -1px 0 0 var(--cui-border-color),
                        inset 1px 0 0 var(--cui-border-color);
                    "
                  >
                    <a
                      cButton
                      color="secondary"
                      size="sm"
                      [routerLink]="['/earnings/details/', item.tutorId]"
                    >
                      <app-eye-icon></app-eye-icon>
                    </a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          }
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
