<c-row [gutter]="3">
  <c-col xs="12" sm="12" md="6">
    <c-card>
      <c-card-header class="d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Categories</h4>

        <button
          cButton
          class="btn btn-sm btn-primary"
          (click)="submitCategory()"
        >
          <svg [cIcon]="icons.cilPlus" class="text-white" size="sm"></svg>
        </button>
      </c-card-header>
      <c-card-body>
        <div class="table-responsive">
          <table class="table table-horizontal">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Is Activated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              @if (!myCategories.length && !filterMyCategory.loading) {
              <tr>
                <td colspan="3">There are no categories</td>
              </tr>
              } @if (filterMyCategory.loading) {
              <tr>
                <td colspan="3">Loading...</td>
              </tr>
              }@for (item of myCategories; track item._id) {
              <tr
                [ngClass]="{
                  highlight:
                    selectedCategory && selectedCategory._id === item._id
                }"
              >
                <td>{{ item?.name }}</td>
                <td>
                  @if (item?.isActive) {
                  <c-badge color="success">Yes</c-badge>
                  } @else {
                  <c-badge color="danger">No</c-badge>
                  }
                </td>
                <td>
                  <button
                    cButton
                    color="secondary"
                    size="sm"
                    class="me-1"
                    (click)="submitCategory(item)"
                  >
                    <svg
                      [cIcon]="icons.cilPencil"
                      class="text-white"
                      size="sm"
                    ></svg>
                  </button>
                  <button
                    cButton
                    color="secondary"
                    size="sm"
                    (click)="selectMyCategory(item)"
                  >
                    <strong>List Subjects</strong>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" sm="12" md="6">
    <c-card>
      <c-card-header>
        <div class="d-flex justify-content-between align-items-center">
          <h4>Subjects</h4>
          @if (selectedCategory) {
          <button cButton color="primary" size="sm" (click)="submitSubject()">
            <svg [cIcon]="icons.cilPlus" class="text-white" size="sm"></svg>
          </button>
          }
        </div>
      </c-card-header>
      <c-card-body>
        <div class="table-responsive">
          <table class="table table-horizontal">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Is Activated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              @if (!mySubjects.length && !filterMySubject.loading &&
              selectedCategory) {
              <tr>
                <td colspan="4">There are no subjects</td>
              </tr>
              } @if (!selectedCategory) {
              <tr>
                <td colspan="4">Please select the category first!</td>
              </tr>
              } @if (filterMySubject.loading) {
              <tr>
                <td colspan="4">Loading...</td>
              </tr>
              } @for (item of mySubjects; track item._id) {
              <tr
                [ngClass]="{
                  highlight: selectedSubject && selectedSubject._id === item._id
                }"
              >
                <td>{{ item?.name }}</td>
                <td>{{ item?.price ?? 0 }}</td>
                <td>
                  @if (item?.isActive) {
                  <c-badge color="success">Yes</c-badge>
                  } @else {
                  <c-badge color="danger">No</c-badge>
                  }
                </td>
                <td>
                  <button
                    cButton
                    color="secondary"
                    size="sm"
                    (click)="submitSubject(item)"
                  >
                    <svg
                      [cIcon]="icons.cilPencil"
                      class="text-white"
                      size="sm"
                    ></svg>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<app-modal-create-category
  [visible]="categoryModalVisible"
  [categories]="categories"
  [myCategory]="currentCategory"
  [closeCallback]="bindCategoryCallback()"
></app-modal-create-category>
<app-my-subject-form
  [visible]="subjectModalVisible"
  [selectedCategory]="selectedCategory"
  [mySubject]="currentSubject"
  [subjects]="subjects"
  [closeCallback]="bindSubjectCallback()"
></app-my-subject-form>
