<div class="sort-group">
  <span (click)="toggle()" class="sort-title" translate *ngIf="sortTitle" style="cursor: pointer; font-weight: 600;">{{sortTitle}}</span>
  <div class="sort-options">
    <a (click)="sort(sortBy, 'asc')" class="sort sort-asc"
      [ngClass]="{'active': sortOption.sortType==='asc' && sortOption.sortBy===sortBy}">
      <i class="fi fi-rr-arrow-up"></i>
    </a>
    <a (click)="sort(sortBy, 'desc')" class="sort sort-desc"
      [ngClass]="{'active': sortOption.sortType==='desc' && sortOption.sortBy===sortBy}">
      <i class="fi fi-rr-arrow-down"></i>
    </a>
  </div>
</div>