.login-wrapper {
  min-height: 100vh;
.btn-link{
 background-color: transparent !important;
 border:  none;
}
  .left-pane {
    flex: 1;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  .right-pane {
    flex: 1;
    background: #fff;
    padding: 40px;

    .form-box {
      width: 100%;
      max-width: 420px;
      padding: 40px;

      .logo {
        height: 56px;
      }

      h2 {
        font-weight: 700;
        color: #152238;
      }

      label {
        font-weight: 600;
        margin-bottom: 6px;
      }

      .form-control {
        height: 48px;
        border-radius: 8px;
        padding-left: 14px;
      }

      .primary-btn {
        background: #ef5230;
        color: #fff;
        height: 48px;
        font-size: 16px;
        border-radius: 8px;
        font-weight: 600;
      }

      a {
        color: #1a73e8;
        font-weight: 500;
      }
    }
  }
}

/* MOBILE FIX */
@media (max-width: 992px) {
  .left-pane {
    display: none;
  }

  .right-pane {
    flex: 1;
    padding: 20px;

    .form-box {
      padding: 24px;
    }
  }
}
a.disabled {
  pointer-events: none;
  opacity: 0.5;
}
