.course-tab-list {
  background-color: transparent;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: none;
  padding: 0 15%;

  a {
    flex: 0 0 auto;
    min-width: 180px;
    text-align: center;
    padding: 15px 20px;
    font-weight: 500;
    color: var(--cui-body-color, #333);
    transition: all 0.3s ease;
    border: none;
    position: relative;
    background-color: var(--cui-card-cap-bg, #f5f5f5);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;

    &:hover {
      background-color: #5856d6;
      text-decoration: none;
      color: white;
    }

    &.active-tab,
    &[aria-selected="true"] {
      background-color: #5856d6 !important;
      color: white !important;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.tab-content {
  margin-top: 20px;
  background-color: var(--cui-card-bg, white);
  color: var(--cui-body-color);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
