<c-row gutter="3">

  <!-- LEFT PROFILE CARD -->
  <c-col md="3" *ngIf="!loading">
    <app-profile-card
      [user]="info"
      (afterUpload)="afterUpload($event)">
    </app-profile-card>
  </c-col>

  <!-- RIGHT FORM -->
  <c-col md="9">
    <c-card>

      <!-- HEADER -->
      <c-card-header *ngIf="info?._id; else createHeader">
        <h4>Update User</h4>
      </c-card-header>

      <ng-template #createHeader>
        <c-card-header>
          <h4>Create User</h4>
        </c-card-header>
      </ng-template>

      <c-card-body>

        <!-- LOADING -->
        <div *ngIf="loading; else formTemplate" class="d-flex justify-content-center p-3">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <!-- FORM -->
        <ng-template #formTemplate>
          <form
            cForm
            #frm="ngForm"
            (ngSubmit)="submit(frm)"
            novalidate
            class="needs-validation"
            [validated]="customStylesValidated">

            <c-row>

              <!-- FULL NAME -->
              <c-col md="6">
                <div class="mb-3">
                  <label cLabel>Full Name</label>
                  <input
                    cFormControl
                    [(ngModel)]="info.name"
                    name="name"
                    required
                    placeholder="Enter name"
                    #name="ngModel" />
                  <c-form-feedback *ngIf="name.invalid && (name.touched || isSubmitted)" invalid>
                    Name is required
                  </c-form-feedback>
                </div>
              </c-col>

              <!-- EMAIL -->
              <c-col md="6">
                <div class="mb-3">
                  <label cLabel>Email</label>
                  <input
                    cFormControl
                    type="email"
                    [(ngModel)]="info.email"
                    name="email"
                    required
                    placeholder="user@example.com"
                    #email="ngModel" />
                  <c-form-feedback *ngIf="email.invalid && (email.touched || isSubmitted)" invalid>
                    Valid email required
                  </c-form-feedback>
                </div>
              </c-col>

              <!-- PHONE -->
              <c-col md="6">
                <div class="mb-3">
                  <label cLabel>Phone Number</label>
                  <input
                    cFormControl
                    [(ngModel)]="info.phoneNumber"
                    name="phone"
                    required
                    minlength="9"
                    maxlength="15"
                    placeholder="Enter phone"
                    #phone="ngModel" />
                  <c-form-feedback *ngIf="phone.invalid && (phone.touched || isSubmitted)" invalid>
                    Phone number is invalid
                  </c-form-feedback>
                </div>
              </c-col>

              <!-- ADDRESS -->
              <c-col md="6">
                <div class="mb-3">
                  <label cLabel>Address</label>
                  <input
                    cFormControl
                    [(ngModel)]="info.address"
                    name="address"
                    required
                    placeholder="Enter address"
                    #address="ngModel" />
                  <c-form-feedback *ngIf="address.invalid && (address.touched || isSubmitted)" invalid>
                    Address is required
                  </c-form-feedback>
                </div>
              </c-col>

              <!-- ASSIGN EXPERT -->
              <c-col md="12">
                <div class="mb-3 mt-3">
                  <h6 class="mb-3 text-primary"></h6>
                  <c-row>
                    <c-col md="4">
                      <div class="mb-3">
                        <label cLabel for="category">Category</label>
                        <ng-select
                          [items]="categories"
                          bindLabel="name"
                          bindValue="_id"
                          placeholder="Select category"
                          [(ngModel)]="selectedCategoryId"
                          (change)="onCategoryChange($event)"
                          name="category"
                        >
                        </ng-select>
                      </div>
                    </c-col>
                    <c-col md="4">
                      <div class="mb-3">
                        <label cLabel for="subject">Sub category</label>
                        <ng-select
                          [items]="subjects"
                          bindLabel="name"
                          bindValue="_id"
                          placeholder="Select subject"
                          [(ngModel)]="selectedSubjectId"
                          (change)="onSubjectChange($event)"
                          name="subject"
                          [disabled]="!selectedCategoryId"
                        >
                        </ng-select>
                      </div>
                    </c-col>
                    <c-col md="4">
                      <div class="mb-3">
                        <label cLabel for="assignedTutors">Select Expert (Approved Only)</label>
                        <ng-select
                          [items]="tutors"
                          bindLabel="name"
                          bindValue="_id"
                          [multiple]="true"
                          placeholder="Select experts"
                          [(ngModel)]="info.assignedTutors"
                          name="assignedTutors"
                        >
                        </ng-select>
                      </div>
                    </c-col>
                  </c-row>
                </div>
              </c-col>



              <!-- BIO -->
              <c-col md="6">
                <div class="mb-3">
                  <label cLabel>Description</label>
                  <textarea
                    cFormControl
                    rows="5"
                    [(ngModel)]="info.bio"
                    name="bio"
                    placeholder="Enter description">
                  </textarea>
                </div>
              </c-col>

              <!-- PASSWORD -->
              <c-col md="6">
                <div class="mb-3">
                  <label cLabel>Password</label>
                  <input
                    cFormControl
                    type="password"
                    [(ngModel)]="info.password"
                    name="password"
                    [required]="!userId"
                    minlength="6"
                    #password="ngModel" />
                  <c-form-feedback *ngIf="password.invalid && (password.touched || isSubmitted)" invalid>
                    Password must be at least 6 characters
                  </c-form-feedback>
                  <small *ngIf="userId" class="text-muted">
                    Leave blank to keep current password
                  </small>
                </div>
              </c-col>

              <!-- STATUS -->
              <c-col md="6">
                <div class="mb-3">
                  <label>Status</label>
                  <div>
                    <input type="checkbox" [(ngModel)]="info.isActive" name="isActive" /> Active
                  </div>
                  <div class="mt-2">
                    <input type="checkbox" [(ngModel)]="info.emailVerified" name="emailVerified" /> Email Verified
                  </div>
                </div>
              </c-col>

              <!-- SAVE -->
              <c-col md="12">
                <button cButton color="primary" type="submit">
                  Save
                </button>
              </c-col>

            </c-row>
          </form>
        </ng-template>

      </c-card-body>
    </c-card>
  </c-col>

</c-row>
