<section class="sm-padding">
  <div class="container">
    <div class="card-horizontal max-width-900 mx-auto">
      <div class="row">
        <div class="col-md-12">
          <h3 *ngIf="title">{{ title }}</h3>
          <h3 translate *ngIf="!title">
            Make your Payment for the {{ targetType }} {{ targetName }},
            with Tutor {{ tutorName }}
          </h3>
        </div>
      </div>

      <form
        class="form-payment"
        (ngSubmit)="buy()"
        [formGroup]="paymentForm"
      >
        <div class="row input-border mt-4">

          <!-- NAME -->
          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="name"
                placeholder="{{ 'Enter name' | translate }}"
              />
              <div
                class="gift-courseErrors"
                *ngIf="
                  paymentForm.controls.name.errors &&
                  (paymentForm.controls.name.dirty ||
                    paymentForm.controls.name.touched ||
                    submitted)
                "
              >
                <p
                  [hidden]="!paymentForm.controls.name.errors.required"
                  class="error"
                  translate
                >
                  Name is required
                </p>
              </div>
            </div>
          </div>

          <!-- ADDRESS LINE -->
          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="address_line1"
                placeholder="{{ 'Enter address' | translate }}"
              />
              <div
                class="gift-courseErrors"
                *ngIf="
                  paymentForm.controls.address_line1.errors &&
                  (paymentForm.controls.address_line1.dirty ||
                    paymentForm.controls.address_line1.touched ||
                    submitted)
                "
              >
                <p
                  [hidden]="!paymentForm.controls.address_line1.errors.required"
                  class="error"
                  translate
                >
                  Address is required
                </p>
              </div>
            </div>
          </div>

          <!-- CITY -->
          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="address_city"
                placeholder="{{ 'Enter city' | translate }}"
              />
              <div
                class="gift-courseErrors"
                *ngIf="
                  paymentForm.controls.address_city.errors &&
                  (paymentForm.controls.address_city.dirty ||
                    paymentForm.controls.address_city.touched ||
                    submitted)
                "
              >
                <p
                  [hidden]="!paymentForm.controls.address_city.errors.required"
                  class="error"
                  translate
                >
                  City is required
                </p>
              </div>
            </div>
          </div>

          <!-- STATE -->
          <div class="col-md-6">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                formControlName="address_state"
                placeholder="{{ 'Enter state' | translate }}"
              />
              <div
                class="gift-courseErrors"
                *ngIf="
                  paymentForm.controls.address_state.errors &&
                  (paymentForm.controls.address_state.dirty ||
                    paymentForm.controls.address_state.touched ||
                    submitted)
                "
              >
                <p
                  [hidden]="!paymentForm.controls.address_state.errors.required"
                  class="error"
                  translate
                >
                  State is required
                </p>
              </div>
            </div>
          </div>

          <!-- COUNTRY -->
          <div class="col-md-6">
            <div class="form-group hide-clear-all">
              <ng-select
                [items]="countries"
                appendTo="body"
                bindLabel="name"
                bindValue="code"
                formControlName="address_country"
                placeholder="{{ 'Enter country' | translate }}"
              ></ng-select>
              <div
                class="gift-courseErrors"
                *ngIf="
                  paymentForm.controls.address_country.errors &&
                  (paymentForm.controls.address_country.dirty ||
                    paymentForm.controls.address_country.touched ||
                    submitted)
                "
              >
                <p
                  [hidden]="!paymentForm.controls.address_country.errors.required"
                  class="error"
                  translate
                >
                  Country is required
                </p>
              </div>
            </div>
          </div>

          <!-- GIFT EMAIL -->
          <div class="col-md-12" *ngIf="type === 'gift'">
            <div class="form-group">
              <input
                class="form-control"
                placeholder="{{ 'Recipient\'s email id' | translate }}"
                formControlName="emailRecipient"
              />
              <div
                class="gift-courseErrors"
                *ngIf="
                  paymentForm.controls.emailRecipient.errors &&
                  (paymentForm.controls.emailRecipient.dirty ||
                    paymentForm.controls.emailRecipient.touched ||
                    submitted)
                "
              >
                <p
                  [hidden]="!paymentForm.controls.emailRecipient.errors.email"
                  class="error"
                  translate
                >
                  Email is invalid format
                </p>
              </div>
            </div>
          </div>

          <!-- PAY BUTTON -->
          <div class="col-md-12">
            <div class="form-group">
              <button
                class="btn btn-default me-2 btn-pay-now"
                [disabled]="
                  loading ||
                  paymentForm.invalid ||
                  (type === 'gift' &&
                    paymentForm.get('emailRecipient')?.value ===
                      currentUser?.email)
                "
              >
                <span translate>Pay Now</span>
                <div
                  *ngIf="loading"
                  class="spinner-border text-primary"
                  role="status"
                >
                  <span class="sr-only" translate>Loading...</span>
                </div>
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
